<div class="container">
	<div class="homecontainer">
		<div class="row">
			<div class="span12">
				</br>
				<p>
					Not all those who wonder are lost. - J.R.R. Tolkein
				</p>
				</br>				
			</div>
		</div>

		<div class="row">
			<div class="span2"><p>Mynd1</p></div>
			<div class="span2"><p>Mynd2</p></div>
			<div class="span2"><p>Mynd3</p></div>
			<div class="span2"><p>Mynd4</p></div>
			<div class="span2"><p>Mynd5</p></div>							
		</div>	

		<div class="row">
			<div class="span12">
				</br>
				<p>
					Good company in a journey makes the way seem shorter. - Izaak Walton
				</p>
				</br>				
			</div>
		</div>
					
	</div>
</div>